.button {
  font-size: 1.1em;
  font-weight: 600;
  background-color: var(--btn-color-primary);
  border: none;
  width: 10em;
  height: 3em;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: var(--btn-color-hover);
}
