.menu {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-main-light);
  position: fixed;
  font-size: 1.1em;
  font-weight: 800;
  top: 0;
  left: 0;
}

.list {
  list-style: none;
}

.item {
  display: inline;
  margin: 1.5em;
}

.item:hover {
  cursor: pointer;
}
