.wordsContainer {
  margin-top: 8em;
  width: auto;
}

.line {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
  padding: 0.5em;
  margin-top: 1em;
}

.input {
  background-color: rgb(236, 225, 225);
}

.input:focus {
  background-color: rgb(204, 233, 243);
}

.invalid {
  background-color: rgb(241, 144, 144);
}
